*{
    padding: 10px;
    
}
body{
    
   /* background-color:floralwhite;
  /*background-color: lightcoral;*/
  /*background-color:snow;*/
  /*background-color: rgb(237, 238, 195);*/

  font-family: 'Poppins', sans-serif;

}

header {

    color: rgb(168, 162, 162);
    margin: auto;
    width: 95%;
    display:flex;
    justify-content: space-between;
    box-shadow: lightgray 2px 2px 2px;
    height: 30px;
    align-items: center;
    background-color: beige;
    border-radius: 5px;
}
.fa-solid {
    display: none;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin-left: 20px;
}

li:hover{
    color: rgb(247, 162, 174);
    
}

#logo-img{
    width:200px;
}

main{
    display: flex;
margin-top: 32px;
margin-bottom: 33px;
justify-content: center;
padding-top: 43px;

}
section img{
    width: 50%;
}
.left-side{
   
    background-color: lavender;
    width: 70%;
    margin-left: 22px;
    border-radius: 9px;
    box-shadow:bisque 2px 2px 2px;
    margin-right: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.icons-and-text-container{
  display: flex;
}
section div{
    border-radius: 13px;
    color:grey;
    margin: 23px;
    
}
h1{
    text-align: center;
    color: grey;
    text-decoration:underline;
}
figure {

    
   text-align: center;
   
   display: flex;
   align-items: center;
   font-size: .9rem;

}

figure p {
   
text-align: left;
border-radius: 11px;
}
aside{
  
   text-align: center;
   display: flex;
   align-items: center;
   font-size: .9rem;

}

iframe{
   background-color: black;
    width: 85%;
    height: 340px;
   

}


.uber-awareness{
    width: 50%;
    border: 4px solid rgb(153, 151, 151);

}
b{ 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 144, 175);
   
}

.questions-to-ask{
    
    width: 76%;
    height: 56px;
    background-color: bisque;
    text-align: center;
    border-radius: 9px;
    color: grey;
    margin-bottom: 44px;
    
}
.right-side{
   
    position: sticky;
    top:0;
    height:330px;
    color: grey;
    border-radius: 8px;

}
.right-side p{
    background-color: bisque;
    border-radius: 7px;
}

div p{
    min-width: 150px;
  
   
}
footer{
    color: rgb(168, 162, 162);
    margin: auto;
    width: 95%;
    display:flex;
    justify-content: space-between;
    box-shadow: lightgray 2px 2px 2px;
    height: 30px;
    align-items: center;
    background-color: beige;
    border-radius: 5px;
}
@media (max-width:880px){
     /*body{
         background-color: floralwhite;
     }*/
     #logo-img{
         height: 160px;
         width: 150px;
        
     }
     main{
        flex-direction: column;
    }
    aside{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
        margin: auto;

   } 
   figure{
       flex-direction: column;
   }

   .questions-to-ask{
       margin: auto;
   }
   .mobile-layout-container1{
       
       background-color: lavender;
   }
   .left-side{
       background-color: white;
       box-shadow: none;
   }
   .right-side{
    height: auto;
    
    
   }
   section img{
       width: 30%;
   }
}


@media (max-width:607px){
    ul{
        display: none;
    }
    .fa-solid{
        display: initial;
    }
}








