*{
    padding: 12px;
}
body{
    
    /*background-color:aliceblue;
    background-color:floralwhite;
  /*background-color: lightcoral;*/
  /*background-color:snow;*/
  /*background-color: rgb(237, 238, 195);*/

  font-family: 'Poppins', sans-serif;

}

header {

    color: rgb(168, 162, 162);
    margin: auto;
    width: 95%;
    display:flex;
    justify-content: space-between;
    box-shadow: lightgray 2px 2px 2px;
    height: 30px;
    align-items: center;
    background-color: beige;
    border-radius: 5px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin-left: 20px;
}

li:hover{
    color: rgb(247, 162, 174);
cursor: pointer;
}

img{
    width: 200px;
}

p{
}
main{
    display: flex;
margin-top: 32px;
justify-content: center;
padding-top: 43px;

}
.left-side{
   
    background-color: lavender;
    width: 70%;
    margin-left: 22px;
    border-radius: 9px;
    box-shadow:bisque 2px 2px 2px;
   margin-right: 55px;
   
}
.icons-and-text-container{
  display: flex;
}
section div{
    border-radius: 13px;
    color:grey;
    margin: 23px;
    
}
h1{
    text-align: center;
    color: grey;
    text-decoration: underline;
}
aside{
  
   text-align: center;
   
   display: flex;
   align-items: center;
   font-size: .9rem;

}

aside p{
line-height: 26px;
text-align: left;
border-radius: 11px;
}
iframe{
   background-color: black;
    width: 95%;
    height: 340px;


}

.green{
    width: 600px;
}

.uber-awareness{
    width: 50%;
    border: 4px solid rgb(153, 151, 151);

}
b{ 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 144, 175);
   
}

.poll{
    
    width: 76%;
    height: 56px;
    background-color: bisque;
    text-align: center;
    border-radius: 9px;
    color: grey;
    margin-bottom: 44px;
    
}
.right-side{
   
    position: sticky;
    top:0;
    height:330px;
  
   

}
.right-side p{
    color: grey;
    background-color: bisque;
    border-radius: 8px;
   

}








